.photo {
  position: relative;
  height: 200px;
  &__label {
    position: absolute;
    width: 400px;
    height: 194px;
    background-color: white;
    opacity: 0.8;
    cursor: pointer;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__media {
    position: absolute;
    cursor: pointer;
  }
  &__inputWrapper {
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__addBtn {
    margin-top: 40px !important;
  }
}
